{% extends 'layouts/base.html.twig' %}

{% block title 'Changer le mot de passe | Pantarest' %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">

            <h1 class="my-5 text-center">Changer le mot de passe</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary btn-lg btn-block">Appliquer les changements</button>
            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}