{% extends 'layouts/base.html.twig' %}

{% block title "Panterest | Nouveau Pin" %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1> Crée le Pin </h1>
            <article>
                {{ include('pins/_form.html.twig') }}
            </article>
        </div>
    </div>

{% endblock %}
