{% extends 'layouts/base.html.twig' %}

{% block title "Pinterest | Edit Pin #" ~ pin.id %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1> Editer le Pin </h1>
            <article>

            {{ include('pins/_form.html.twig', {submitButtonText:'Editer le Pin'}) }}

            </article>
        </div>
    </div>


{% endblock %}

