{% extends 'layouts/base.html.twig' %}

{% block title "Pinterest | Edit Pin #" ~ pin.id %}

{% block body %}

    <h1> Editer le Pin {{ pin.id}} </h1>

    <article>

        {{ include('pins/_form.html.twig', {submitButtonText:'Editer le Pin'}) }}

    </article>


{% endblock %}

