<footer class="mt-5 container text-center">
    <small class="text-muted">
            <p>
                <span>&copy; Copyright {{ 'now'|date('Y') }}</span>
                &middot
                <span>Crée par Xavier Naudé</span>
                |
                Suivant le tutoriel
                &map;
                <a href="https://www.youtube.com/watch?v=A8JxqOG2wi4&list=PLlxQJeQRaKDRs9WlWQiXNqWU0blyaZBzo">LES TEACHERS DU NET</a>
            </p>
    </small>
</footer>