<footer class="mt-5 container text-center">
    <small class="text-muted">
            <p>
                <span>&copy; Copyright {{ 'now'|date('Y') }}</span>
                &middot
                <span>Crée par Xavier Naudé</span>
            </p>
    </small>
</footer>