{% extends 'base.html.twig' %}

{% block title "Pinterest | Error 404" %}

{% block body %}

    <article>
        <h1> La Page que vous demandez n'existe pas </h1>

        <p><a href="{{ path('app_home') }}">Retour à l'acceuil</a></p>

    </article>


{% endblock %}